{
	"jbuniversal.novost.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "ru-RU"
					}
				},
				"element": "429fb15f-e37c-45cd-850d-8d176f8e8fbb"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "4b6b413e-a6f5-44eb-8625-765e952aed6a"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "pl-PL"
					}
				},
				"element": "2a6e3470-951e-4b55-9c34-280c5ad5d297"
			}
		},
		"date": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"hits": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		},
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"zoolingual": {
					"_languages": {
						"0": "ru-RU"
					}
				},
				"element": "6109c7a6-fe76-462d-aa8e-bae73faa1981"
			}
		},
		"link": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			}
		}
	},
	"jbuniversal.novost.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "ru-RU"
					}
				},
				"element": "429fb15f-e37c-45cd-850d-8d176f8e8fbb"
			}
		},
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "ru-RU"
					}
				},
				"element": "a96199ba-cac3-4991-bca2-1e5a0bcf6d33"
			}
		},
		"related": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"order": {
					"0": "_itemname",
					"1": ""
				},
				"layout": "teaser",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "b40ed177-6c6b-4bfb-a9d0-ea6084c86ee9"
			}
		}
	},
	"jbuniversal.novost.related": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "ru-RU"
					}
				},
				"element": "429fb15f-e37c-45cd-850d-8d176f8e8fbb"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "4b6b413e-a6f5-44eb-8625-765e952aed6a"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "pl-PL"
					}
				},
				"element": "2a6e3470-951e-4b55-9c34-280c5ad5d297"
			}
		},
		"date": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"hits": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		},
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"zoolingual": {
					"_languages": {
						"0": "ru-RU"
					}
				},
				"element": "6109c7a6-fe76-462d-aa8e-bae73faa1981"
			}
		},
		"link": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			}
		}
	},
	"jbuniversal.produkciya.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"zoolingual": {
					"_languages": {
						"0": "ru-RU"
					}
				},
				"element": "_itemname"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "91dbcef8-eb77-4a06-b44d-5d17fe2bea41"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "pl-PL"
					}
				},
				"element": "e3a3320a-62d8-4950-8f6a-301ffdf773f5"
			}
		},
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"width": "500",
				"height": "",
				"link_to_item": "0",
				"element": "038f08a2-f98c-444d-96ad-bb5b86667ff6"
			}
		},
		"main": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "ru-RU"
					}
				},
				"element": "237dbe43-5f88-4ff3-a8ac-dd49a9ed1e79"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "11208cbe-03f8-4a4e-b353-408df4414bf5"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "pl-PL"
					}
				},
				"element": "cad131f0-d94c-4b21-8b42-84f031c11481"
			}
		},
		"highlight": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "ru-RU"
					}
				},
				"element": "b797daa9-aa1e-4828-8a58-d94fa0e0fa00"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "11208cbe-03f8-4a4e-b353-408df4414bf5"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "pl-PL"
					}
				},
				"element": "4333493f-ba22-4709-ac65-2c5cddabe82b"
			}
		},
		"additional": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "ru-RU"
					}
				},
				"element": "3b1c4754-0fdb-4a36-83f5-ae4f5f57acb3"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "69663476-3d9b-4fef-9b6e-d51723641aa3"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "pl-PL"
					}
				},
				"element": "bedf587c-88fd-47e7-8e5d-a71e8929e1f0"
			}
		}
	},
	"jbuniversal.produkciya.teaser": {
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "190",
				"height": "",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "25c01dd4-793e-473f-b155-24cd35bc5123"
			}
		},
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"zoolingual": {
					"_languages": {
						"0": "ru-RU"
					}
				},
				"element": "_itemname"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "91dbcef8-eb77-4a06-b44d-5d17fe2bea41"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "ru-RU"
					}
				},
				"element": "e3a3320a-62d8-4950-8f6a-301ffdf773f5"
			}
		},
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "ru-RU"
					}
				},
				"element": "cad780de-0afb-48be-b8f0-9e71d41a604b"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "f2552eb1-5f61-4bb1-abaa-64064289493f"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "pl-PL"
					}
				},
				"element": "e072c4fa-9e26-42f2-b6bd-7d0bef4f6752"
			}
		},
		"link": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			}
		}
	}
}