{
	"jbuniversal.novost.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "ru-RU"
					}
				},
				"element": "429fb15f-e37c-45cd-850d-8d176f8e8fbb"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "4b6b413e-a6f5-44eb-8625-765e952aed6a"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "pl-PL"
					}
				},
				"element": "2a6e3470-951e-4b55-9c34-280c5ad5d297"
			}
		},
		"date": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"hits": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		},
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"zoolingual": {
					"_languages": {
						"0": "ru-RU"
					}
				},
				"element": "6109c7a6-fe76-462d-aa8e-bae73faa1981"
			}
		},
		"link": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			}
		}
	},
	"jbuniversal.novost.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "ru-RU"
					}
				},
				"element": "429fb15f-e37c-45cd-850d-8d176f8e8fbb"
			}
		},
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "ru-RU"
					}
				},
				"element": "a96199ba-cac3-4991-bca2-1e5a0bcf6d33"
			}
		},
		"related": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"order": {
					"0": "_itemname",
					"1": ""
				},
				"layout": "teaser",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "b40ed177-6c6b-4bfb-a9d0-ea6084c86ee9"
			}
		}
	},
	"jbuniversal.novost.related": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "ru-RU"
					}
				},
				"element": "429fb15f-e37c-45cd-850d-8d176f8e8fbb"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "4b6b413e-a6f5-44eb-8625-765e952aed6a"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "pl-PL"
					}
				},
				"element": "2a6e3470-951e-4b55-9c34-280c5ad5d297"
			}
		},
		"date": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"hits": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		},
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"zoolingual": {
					"_languages": {
						"0": "ru-RU"
					}
				},
				"element": "6109c7a6-fe76-462d-aa8e-bae73faa1981"
			}
		},
		"link": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			}
		}
	}
}