{
	"name": "\u041d\u043e\u0432\u043e\u0441\u0442\u044c",
	"elements": {
		"429fb15f-e37c-45cd-850d-8d176f8e8fbb": {
			"name": "\u0417\u0430\u0433\u043e\u043b\u043e\u0432\u043e\u043a \u043d\u043e\u0432\u043e\u0441\u0442\u0438",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"zoolingual": {
				"_languages": {
					"0": "ru-RU"
				}
			},
			"type": "text"
		},
		"4b6b413e-a6f5-44eb-8625-765e952aed6a": {
			"name": "\u0417\u0430\u0433\u043e\u043b\u043e\u0432\u043e\u043a \u043d\u043e\u0432\u043e\u0441\u0442\u0438 Eng",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"zoolingual": {
				"_languages": {
					"0": "en-GB"
				}
			},
			"type": "text"
		},
		"2a6e3470-951e-4b55-9c34-280c5ad5d297": {
			"name": "\u0417\u0430\u0433\u043e\u043b\u043e\u0432\u043e\u043a \u043d\u043e\u0432\u043e\u0441\u0442\u0438 POL",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"zoolingual": {
				"_languages": {
					"0": "pl-PL"
				}
			},
			"type": "text"
		},
		"6109c7a6-fe76-462d-aa8e-bae73faa1981": {
			"name": "\u0418\u0437\u043e\u0431\u0440\u0430\u0436\u0435\u043d\u0438\u0435 \u043f\u0440\u0435\u0432\u044c\u044e",
			"description": "",
			"access": "1",
			"upload_directory": "images\/articles",
			"max_upload_size": "512",
			"zoolingual": {
				"_languages": {
					"0": "ru-RU"
				}
			},
			"type": "image"
		},
		"a96199ba-cac3-4991-bca2-1e5a0bcf6d33": {
			"name": "\u0422\u0435\u043a\u0441\u0442 \u043d\u043e\u0432\u043e\u0441\u0442\u0438",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "ru-RU"
				}
			},
			"type": "textarea"
		},
		"b40ed177-6c6b-4bfb-a9d0-ea6084c86ee9": {
			"name": "\u041f\u043e\u0445\u043e\u0436\u0438\u0435 \u043d\u043e\u0432\u043e\u0441\u0442\u0438",
			"description": "",
			"access": "1",
			"selectable_types": {
				"0": "novost"
			},
			"type": "relateditems"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}