{
	"name": "\u041f\u0440\u043e\u0434\u0443\u043a\u0446\u0438\u044f",
	"elements": {
		"91dbcef8-eb77-4a06-b44d-5d17fe2bea41": {
			"name": "\u0417\u0430\u0433\u043e\u043b\u043e\u0432\u043e\u043a ENG",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"zoolingual": {
				"_languages": {
					"0": "en-GB"
				}
			},
			"type": "text"
		},
		"e3a3320a-62d8-4950-8f6a-301ffdf773f5": {
			"name": "\u0417\u0430\u0433\u043e\u043b\u043e\u0432\u043e\u043a POL",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"zoolingual": {
				"_languages": {
					"0": "pl-PL"
				}
			},
			"type": "text"
		},
		"25c01dd4-793e-473f-b155-24cd35bc5123": {
			"name": "\u0418\u0437\u043e\u0431\u0440\u0430\u0436\u0435\u043d\u0438\u0435 \u043f\u0440\u0435\u0432\u044c\u044e",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"upload_directory": "images\/uploads\/",
			"max_upload_size": "512",
			"upload_by_user": "0",
			"default_enable": "0",
			"default_image": "",
			"type": "jbimage"
		},
		"038f08a2-f98c-444d-96ad-bb5b86667ff6": {
			"name": "\u041e\u0441\u043d\u043e\u0432\u043d\u043e\u0435 \u0438\u0437\u043e\u0431\u0440\u0430\u0436\u0435\u043d\u0438\u0435",
			"description": "",
			"access": "1",
			"upload_directory": "images\/uploads\/",
			"max_upload_size": "1024",
			"type": "image"
		},
		"cad780de-0afb-48be-b8f0-9e71d41a604b": {
			"name": "\u0422\u0435\u043a\u0441\u0442 \u043f\u0440\u0435\u0432\u044c\u044e",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "ru-RU"
				}
			},
			"type": "textarea"
		},
		"f2552eb1-5f61-4bb1-abaa-64064289493f": {
			"name": "\u0422\u0435\u043a\u0441\u0442 \u043f\u0440\u0435\u0432\u044c\u044e ENG",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "en-GB"
				}
			},
			"type": "textarea"
		},
		"e072c4fa-9e26-42f2-b6bd-7d0bef4f6752": {
			"name": "\u0422\u0435\u043a\u0441\u0442 \u043f\u0440\u0435\u0432\u044c\u044e POL",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "pl-PL"
				}
			},
			"type": "textarea"
		},
		"237dbe43-5f88-4ff3-a8ac-dd49a9ed1e79": {
			"name": "\u041e\u0441\u043d\u043e\u0432\u043d\u043e\u0439 \u0442\u0435\u043a\u0441\u0442",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "ru-RU"
				}
			},
			"type": "textarea"
		},
		"906ba611-97fd-4ea3-8711-077c9d3a20db": {
			"name": "\u041e\u0441\u043d\u043e\u0432\u043d\u043e\u0439 \u0442\u0435\u043a\u0441\u0442 ENG",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "en-GB"
				}
			},
			"type": "textarea"
		},
		"cad131f0-d94c-4b21-8b42-84f031c11481": {
			"name": "\u041e\u0441\u043d\u043e\u0432\u043d\u043e\u0439 \u0442\u0435\u043a\u0441\u0442 POL",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "pl-PL"
				}
			},
			"type": "textarea"
		},
		"b797daa9-aa1e-4828-8a58-d94fa0e0fa00": {
			"name": "\u0422\u0435\u043a\u0441\u0442 \u043d\u0430 \u0441\u0438\u043d\u0435\u043c \u0444\u043e\u043d\u0435",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "ru-RU"
				}
			},
			"type": "textarea"
		},
		"11208cbe-03f8-4a4e-b353-408df4414bf5": {
			"name": "\u0422\u0435\u043a\u0441\u0442 \u043d\u0430 \u0441\u0438\u043d\u0435\u043c \u0444\u043e\u043d\u0435 ENG",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "en-GB"
				}
			},
			"type": "textarea"
		},
		"4333493f-ba22-4709-ac65-2c5cddabe82b": {
			"name": "\u0422\u0435\u043a\u0441\u0442 \u043d\u0430 \u0441\u0438\u043d\u0435\u043c \u0444\u043e\u043d\u0435 POL",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "pl-PL"
				}
			},
			"type": "textarea"
		},
		"3b1c4754-0fdb-4a36-83f5-ae4f5f57acb3": {
			"name": "\u0414\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u044b\u0439 \u0442\u0435\u043a\u0441\u0442",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "ru-RU"
				}
			},
			"type": "textarea"
		},
		"69663476-3d9b-4fef-9b6e-d51723641aa3": {
			"name": "\u0414\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u044b\u0439 \u0442\u0435\u043a\u0441\u0442 ENG",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "en-GB"
				}
			},
			"type": "textarea"
		},
		"bedf587c-88fd-47e7-8e5d-a71e8929e1f0": {
			"name": "\u0414\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u044b\u0439 \u0442\u0435\u043a\u0441\u0442 POL",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "pl-PL"
				}
			},
			"type": "textarea"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}