/* ========================================================================
   Стили шрифтов / Fonts styles
   ===================================================================== */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamPro.otf')  format('opentype'),
         url('../fonts/GothamPro.woff') format('woff'),
         url('../fonts/GothamPro.ttf')  format('truetype'),
         url('../fonts/GothamPro.svg#GothamPro') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamProLight';
    src: url('../fonts/GothamProLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamProLight.otf')  format('opentype'),
        url('../fonts/GothamProLight.woff') format('woff'),
        url('../fonts/GothamProLight.ttf')  format('truetype'),
        url('../fonts/GothamProLight.svg#GothamPro') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iconfont';
    src:  url('../fonts/iconfont.eot?4zcfyy');
    src:  url('../fonts/iconfont.eot?4zcfyy#iefix') format('embedded-opentype'),
          url('../fonts/iconfont.ttf?4zcfyy') format('truetype'),
          url('../fonts/iconfont.woff?4zcfyy') format('woff'),
          url('../fonts/iconfont.svg?4zcfyy#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'iconfont' !important;
}
.icon-eye:before {
    content: "\e900";
}
.icon-keyboard-right-arrow-button:before {
    content: "\e901";
}
.icon-map-marker:before {
    content: "\e902";
}
.icon-telephone:before {
    content: "\e903";
}
/* ========================================================================
   Общие стили / Common styles
   ===================================================================== */
body{
    font-family: 'GothamPro';
}
a, a:hover, a:focus{
    text-decoration: none;
    transition: all 0.2s ease;
}
a, a:focus{
    border-bottom: 1px solid transparent;
}
a:hover{
    border-color: #1891ce;
}
.uk-inline-block{
    display: inline-block;
}
.uk-text-uppercase{
    text-transform: uppercase;
}
.uk-gotham-light{
    font-family: 'GothamProLight';
}
/* ========================================================================
   Стили шапки / Header styles
   ===================================================================== */
.tm-headerbar{
    margin: 0;
    padding: 20px 0 10px;
}
.tm-logo{
    border:none;
}
.tm-navbar{
    margin: 0;
}
.uk-navbar-nav > li > a{
    font-family: 'GothamPro';
    border: none;
}
.uk-navbar-nav > li:first-child > a{
    padding-left: 0;
}
.uk-navbar-nav > li:last-child > a{
    padding-right: 0;
}
.uk-language-select{
    padding-left: 20px;
}
.uk-language-select:before{
    content: "";
    height: 16px;
    position: absolute;
    left: -10px;
    top: 50%;
    bottom: 0;
    margin-top: -8px;
    border-left: 1px solid #000;
}
.uk-language-text{
    text-align: center;
    line-height: 30px;
}
.uk-language-text:first-child{
    text-align: left;
}
.uk-language-text:last-child{
    text-align: right;
}
.uk-language-text a{
    color: #000;
}
.uk-language-text a:hover{
    color: #1891ce;
}
/* ========================================================================
   Стили слайдер / Slider styles
   ===================================================================== */
.uk-slider-main_text{
    top: 40px;
    left: 0;
    right: 0;
}
.uk-dotnav{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}
.uk-dotnav li{
    padding: 0;
}
.uk-dotnav li + li{
    margin-left: 10px;
}
.uk-dotnav li a{
    border: none;
    border-radius: 100%;
    border: 6px solid #fff;
    border-radius: 100%;
    padding: 0;
    transform: scale(0.7);
}
.uk-dotnav li.uk-active a,
.uk-dotnav li a:hover{
    transform: scale(1);
}
/* ========================================================================
   Стили блока "наши клиенты" / "Our clients" block styles
   ===================================================================== */
.uk-clients{
    padding: 20px 0;
}
.uk-clients-slider:before,
.uk-clients-slider:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25px;
    z-index: 1;
}
.uk-clients-slider:before{
    left: 35px;
    -webkit-box-shadow: inset 10px 0px 15px -10px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 10px 0px 15px -10px rgba(0,0,0,0.3);
    box-shadow: inset 10px 0px 15px -10px rgba(0,0,0,0.3);
}
.uk-clients-slider:after{
    right: 0;
    -webkit-box-shadow: inset -10px 0px 15px -10px rgba(0,0,0,0.3);
    -moz-box-shadow: inset -10px 0px 15px -10px rgba(0,0,0,0.3);
    box-shadow: inset -10px 0px 15px -10px rgba(0,0,0,0.3);
}
.uk-clients-slider img{
    height: 65px;
}
/* ========================================================================
   Стили шапки / Header styles
   ===================================================================== */
.uk-staticmap-marker{
    color: #00a8ff;
}
.uk-staticmap-marker-small{
    font-size: 14px;
}
.uk-staticmap-marker-medium{
    font-size: 26px;
}
.uk-staticmap-marker-large{
    font-size: 52px;
}
.uk-staticmap-marker-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.uk-staticmap-marker-image.uk-staticmap-marker-small{
    width: 14px;
    height: 18px;
}
.uk-staticmap-marker-image.uk-staticmap-marker-medium{
    width: 26px;
    height: 34px;
}
.uk-staticmap-marker-image.uk-staticmap-marker-large{
    width: 52px;
    height: 64px;
}
.uk-staticmap-text{
    top: 40%;
    bottom: 0;
    left: 0;
}
/* ========================================================================
   Стили блока новостей / News block styles
   ===================================================================== */
.uk-latest_news{
    padding: 40px 0;
}
.uk-latest_news-all_news_link{
    border: none;
    background: #00a8ff;
    padding: 0 55px 0 15px;
    line-height: 40px;
}
.uk-latest_news-all_news_link-icon{
    background: #2c2c2c;
    font-size: 18px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;
}
.uk-latest_news-all_news_link-icon:after{
    content: "\e901";
    font-family: 'iconfont';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -9px 0 0 -9px;
    line-height: 1;
}
.uk-latest_news-block{
    width: 100%;
    height: 320px;
    border: none;
}
.uk-latest_news-publish_up{
    top: 30px;
    left: 35px;
}
.uk-latest_news-hits{
    top: 26px;
    right: 35px;
}
.uk-latest_news-hits i{
    font-size: 18px;
}
.uk-latest_news-title{
    bottom: 0px;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgba(44, 44, 44, 0.8);
}
/* ========================================================================
   Стили футера / Footer styles
   ===================================================================== */
.tm-footer{
    background: #2c2c2c;
    margin: 0;
    padding: 40px 0;
}
.uk-md-phone-row,
.uk-md-phone-row:focus{
    border: none;
}
.uk-md-phone-row{
    font-family: 'Open Sans', sans-serif;
}
.uk-phone-icon{
    font-size: 20px;
}